:root {
    --title-color: #2e2f42;
    --bg-main-color: #2e2f42;
    --sub-text-color: #434455;
    --hover-color: #404bbf;
    --btn-color: #4d5ae5;
    --header-logo-color: #4d5ae5;
    --overlay-hero-color: rgba(46, 47, 66, 0.7);
    --btn-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    --team-card-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    --contacts-color: #434455;
    --bg-team: #f4f4fd;
    --footer-logo-color: #f4f4fd;
    --footer-text-color: #f4f4fd;
    --foter-icon-hover: #31d0aa;
    --svg-fill-color: #f4f4fd;
    --modal-color: #8e8f99;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

textarea {
    resize: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

svg {
    fill: currentColor;
}


body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--sub-text-color);
    background-color: #fff;
    height: 100%;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.modal-container {
    max-width: 379px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--title-color);
    margin-bottom: 72px;
}

.title-card {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}

.sub-text {
    color: var(--sub-text-color);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-logo-color);
}

.section {
    padding: 96px 0;
}

/*Header*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    padding-block: 16px;
    display: block;
}

.header-logo-span {
    color: var(--title-color);
}

.nav-list {
    display: none;
}

.address-desk {
    display: none;
}

.burger-btn {
    border: none;
    background-color: transparent;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-inline: 15px;
    background-color: #fff;
    transition: opacity 250ms linear, visibility 250ms linear;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.box-close-svg-mobile {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E7E9FC;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2e2f42;

}

.modal-close-svg-mobile {
    fill: currentColor;
}

.modal-close-svg-mobile {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-close-svg-mobile:hover,
.box-close-svg-mobile:focus {
    background-color: var(--hover-color);
    border: none;
}

.box-close-svg-mobile:hover .modal-close-svg {
    fill: #ffffff;
}

.box-close-svg-mobile:focus .modal-close-svg {
    fill: #ffffff;
}

.mobile-menu {
    display: flex;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: auto;
}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: var(--hover-color);
}

.mobile-menu-link.active {
    color: var(--hover-color);
}

.mobile-contacts-list {
    margin-bottom: 48px;
}

.mobile-contacts-item:first-child {
    margin-bottom: 24px;
}

.mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-link.active {
    color: var(--hover-color);
}

.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
    color: var(--hover-color);
}

.mobile-social-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.mobile-social-item {
    width: 40px;
    height: 40px;
}

.mobile-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--svg-fill-color);
    background-color: var(--btn-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-link:hover,
.mobile-social-link:focus,
.mobile-social-link:active {
    background-color: var(--hover-color);
}

/*Header-end*/

/*Section-order*/

.order {
    background-color: var(--bg-main-color);
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/people-office-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-block: 72px;
    margin: 0 auto;
}

.oreder-title {
    font-weight: 700;
    font-size: 36px;
    max-width: 216px;
    line-height: 40px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 72px;
}

.order-btn {
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.04em;
    line-height: 1.5;
    background-color: var(--btn-color);
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    padding: 16px 32px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
    background-color: var(--hover-color);
}

/*Section-order-end*/

/*Section-advantages*/
.advantages-item:not(:last-child) {
    margin-bottom: 72px;
}

.advantages-item-box {
    display: none;
}

.advantages-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

/*Section-advantages-end*/

/*Section-team*/
.team {
    background-color: var(--bg-team);
}

.team-list {
    text-align: center;
}

.team-item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: var(--team-card-shadow);
}

.team-item img {
    margin: 0 auto;
}

.team-item-info {
    padding: 32px 0;
}

.team-item-text {
    margin-bottom: 8px;
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-item:not(:last-child) {
    margin-bottom: 72px;
}

.team-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--svg-fill-color);
    background-color: var(--btn-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--hover-color);
}

/*Section-team-end*/

/*Section-portfolio*/

.portfolio-item:not(:last-child) {
    margin-bottom: 48px;
}

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--btn-color);
    padding: 40px 32px;
    color: var(--footer-text-color);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-item-info {
    padding: 32px 16px;
    border-right: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
}

/*Section-portfolio-end*/

/*Footer*/
.footer {
    background-color: var(--bg-main-color);
    padding-block: 96px;
}

.footer-left-side {
    text-align: center;
    margin-bottom: 72px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;

}

.footer-logo-span {
    color: var(--footer-logo-color)
}

.footer-text {
    max-width: 264px;
    color: var(--footer-text-color);
    text-align: left;
}

.footer-social {
    margin-bottom: 72px;
    /**/
}

.footer-social-title {
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 16px;
    text-align: center;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    /**/
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--svg-fill-color);
    background-color: var(--btn-color);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--foter-icon-hover);
}

.footer-form-title {
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 16px;
    text-align: center;
}

.footer-input-email {
    outline: none;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    /**/
    width: 100%;
    margin-bottom: 16px;
}

.footer-send-btn {
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

    /**/
    margin: 0 auto;
}

.footer-btn-svg {
    margin-left: 16px;
}

/*Footer-end*/
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .12), 0px 1px 1px rgba(0, 0, 0, .14), 0px 2px 1px rgba(0, 0, 0, .2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    padding: 72px 16px 24px;
    z-index: 1000;
}

.box-close-svg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2e2f42;
    padding: 0;
}

.modal-close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-close-svg:hover,
.box-close-svg:focus {
    background-color: var(--hover-color);
    border: none;
}

.box-close-svg:hover .modal-close-svg {
    fill: #ffffff;
}

.box-close-svg:focus .modal-close-svg {
    fill: #ffffff;
}

.modal-content-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--title-color);
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-box {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--modal-color);
    display: block;
    margin-bottom: 4px;
}

.modal-input {
    padding-left: 38px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    max-height: 40px;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--sub-text-color);
}

.modal-form input:focus,
.textarea-form:focus {
    border: 1px solid var(--btn-color);
}

.modal-textarea-box {
    margin-bottom: 16px;
}

.textarea-form {
    outline: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-svg-box {
    position: relative;
}

.textarea-form::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-form .svg-modal {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-svg-box input:focus~.svg-modal {
    fill: #4D5AE5;
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.policy-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--modal-color);
}

.checkbox-style {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox:checked+.policy-text .checkbox-style {
    background-color: var(--hover-color);
    border: none;
    fill: var(--bg-team);
}

.checkbox-style-svg {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox:checked+.policy-text .checkbox-style-svg {
    fill: var(--bg-team);
}

.policy-link {
    line-height: 133%;
    text-decoration: underline;
    color: var(--btn-color);
}

.form-btn-send {
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--btn-color);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
}

.form-btn-send:hover,
.form-btn-send:focus {
    background-color: var(--hover-color);
}

@media only screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .section {
        padding: 96px 0;
    }

    .header-logo {
        padding-block: 0;
        margin-right: 120px;
        display: inline-block;
    }

    .header-logo {
        margin-right: 76px;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        gap: 40px;

    }

    .nav-link {
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        font-weight: 500;
        color: var(--title-color);
    }

    .nav-link:hover,
    .nav-link:focus {
        color: var(--hover-color);
    }

    .nav-link.active {
        color: var(--hover-color);
        position: relative;
    }

    .nav-link.active::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        border-radius: 2px;
        background-color: var(--hover-color);
        width: 100%;
        height: 4px;
    }

    .address-desk {
        display: block;
        margin-left: auto;
    }

    .contacts-list {
        display: block;
    }

    .contacts-item:first-child {
        margin-bottom: 12px;
    }

    .contacts-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--contacts-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-link:hover,
    .contacts-link:focus {
        color: var(--hover-color);

    }

    .burger-btn {
        display: none;
    }

    /*Section-order*/
    .order {
        padding-block: 188px;
        max-width: 1440px;
    }

    .oreder-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin-bottom: 48px;
        max-width: 496px;

    }

    /*Section-order*/

    /*Section-advantages*/
    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 72px;
        column-gap: 24px;
    }

    .advantages-item {
        width: calc((100% - 24px)/2);
    }

    .advantages-item:not(:last-child) {
        margin-bottom: 0;
    }

    .advantages-title {
        text-align: left;
    }

    /*Section-advantages-end*/

    /*Section-team*/
    .team-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
    }

    .team-item {
        width: calc((100% - 24px)/2);
    }

    .team-item:not(:last-child) {
        margin-bottom: 0;
    }

    /*Section-team-end*/

    /*Section-portfolio*/
    .portfolio-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .portfolio-item:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .portfolio-item:hover .overlay-text {
        transform: translatey(0%);
    }

    .portfolio-item:not(:last-child) {
        margin-bottom: 0;
    }

    /*Section-portfolio-end*/

    /*Footer*/
    .footer .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        column-gap: 24px;
        row-gap: 72px;

    }

    .footer-left-side {
        text-align: left;
        margin-bottom: 0;
    }

    .footer-social {
        margin-bottom: 0;
        margin-right: auto;
    }

    .footer-form {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .footer-form-title {
        text-align: left;
    }

    .footer-input-email {
        width: 264px;
        margin-bottom: 0
    }

    /*Footer-end*/

    /*Modal*/
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px;
    }

    /*Modal-end*/
}

@media only screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .section {
        padding: 120px 0;
    }

    /*Header*/
    .contacts-list {
        display: flex;
        gap: 40px;
    }

    .contacts-item:first-child {
        margin-bottom: 0;
    }

    .contacts-link {
        font-size: 16px;
        line-height: 24px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--contacts-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /*Header-end*/

    /*Section-advantages*/
    .advantages-item-box {
        display: block;
    }

    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .advantages-item {
        width: calc((100% - 72px)/4);
    }

    .advantages-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .advantages-item-box {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: var(--bg-team);
        padding: 24px 0;
        margin-bottom: 8px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
    }

    /*Section-advantages-end*/

    /*Section-team*/
    .team-list {
        row-gap: 0;
    }

    .team-item {
        width: calc((100% - 72px)/4);
    }

    /*Section-team-end*/

    /*Section-portfolio*/
    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }

    /*Section-portfolio-end*/

    /*Footer*/
    .footer {
        padding-block: 100px;
    }

    .footer .container {
        column-gap: 0;
        row-gap: 0;

    }

    .footer-left-side {
        margin-right: 120px;
    }

    .footer-social-title {
        text-align: start;
    }

    .footer-social {
        margin-right: 80px;
    }

    /*Footer-end*/


    /*Modal*/
    /*Modal-end*/
}